body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 30px 0 50px 0;
}

h2 {
  margin-bottom: 50px;
}

select {
  margin-bottom: 50px;
}

th {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  border: 1px solid gray;
  width: 15px;
  height: 15px;
  text-align: center;
}

button {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-image: url(./images/smile.gif);
  background-size: cover;
}
